*{
    margin:0;
    scroll-behavior: smooth;
}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"]{
      -moz-appearance: textfield;
  }

  .greenColor{
      color: rgb(9, 217, 9);
  }
  .redColor{
      color: rgb(231, 40, 40);
  }

